
.bg-image {
    filter: brightness(50%);
 
  }


  #texto-carrusel{
    width: 38%;
    text-align: right;


}

.carousel-caption {
  background-color: none; 
  padding-bottom: 10rem;
}

#texto-form{
  text-align: center;
  justify-content: center;
  margin: 2rem;
}

#totalAPagar{
  text-align: left;
  background-color: rgb(177, 201, 253);
  padding: 1rem 0rem 1rem 0rem;
  color:rgb(207, 207, 212);
}



@media (max-width:1024px) {
  h1{
    width: 80%;
    text-align: right;
  }
  #texto-carrusel {
    width: 80%;
    text-align: right;
  }

  .carousel-caption{
    padding-bottom: 30rem;
  }
}

@media (max-width:280px) {/*para galaxy fold*/
  h1{
    width: 80%;
    text-align: right;
  }
  #texto-carrusel {
    width: 80%;
    text-align: right;
  }

  .carousel-caption{
    padding-bottom: 25rem;
  }
}


@media (max-height: 600px) {
  h1{
    width: 100%;
    padding-top: 10rem;
    text-align: right;
  }

  .carousel-caption {
    width: 80%;
    padding-bottom: 33rem;
  }

 
}


@media (max-width: 600px){
  #nombre-apellido-form{
          display: block;
  }
  
  #comprarTickets{
    width: 100%;
  }
}
